# Entornos virtuales
venv/
.env/
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Archivos temporales
*.log
.DS_Store

# Configuración del sistema
.idea/
.vscode/

# Blender / grandes / temporales
*.blend
*.exr
*.zip
*.rar
*.7z
*.tmp
*.bak